<% script('/game/phaser.min.js') -%>
<% script('/game/main.js') -%>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="SCQ Notificación de alertas e incidencias al Ayuntamiento." />
  <meta name="author" content="Lorenzo Torres Rodríguez" />
  <title><%=titulo%></title>
</head>
<body class="sb-nav-fixed">
  <%-scripts%>
</body>
</html>
