<% layout('layout') -%>

<div class="jumbotron text-center">
    <h1>Abuin SCQNotifyer</h1>
    <p>Controla todo a tu alrededor</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Proyecto</h3>
        <p>Proyecto del 2º trimestre de Desarrollo Web Entorno Servidor.</p>
        <p>Profesor: Rafa Veiga</p>
      </div>
      <div class="col-sm-4">
        <h3>Autor</h3>
        <p>Lorenzo Torres Rodríguez, 2ºDAW</p>
        <p>Año 2020</p>
      </div>
      <div class="col-sm-4">
        <h3>Información</h3>        
        <p>Para más información sobre este proyecto consultar el enlace: </p>
        <p><a href="http://abuin.dynu.net/info">Información</a></p>
      </div>
    </div>
  </div>
