<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Creative Commons: CC By NC SA - Alumnado - DWCS - IES San Clemente</div>
            <div>
                <a href="#">Política de privacidad</a>
                &middot;
                <a href="#">Términos y condiciones</a>
            </div>
        </div>
    </div>
</footer>
